@page
@model CeilUfas.Pages.Admin.AppsettingsModel

@{
    ViewData["Title"] = "Appsettings";
}

<h1>Appsettings</h1>

<h4>AppSettings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppSettings.Id" />
            <div class="form-group">
                
                <label asp-for="AppSettings.OrganizationName" class="control-label"></label>
                <input asp-for="AppSettings.OrganizationName" class="form-control" />
                <span asp-validation-for="AppSettings.OrganizationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.Address" class="control-label"></label>
                <input asp-for="AppSettings.Address" class="form-control" />
                <span asp-validation-for="AppSettings.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.Tel" class="control-label"></label>
                <input asp-for="AppSettings.Tel" class="form-control" />
                <span asp-validation-for="AppSettings.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.Email" class="control-label"></label>
                <input asp-for="AppSettings.Email" class="form-control" />
                <span asp-validation-for="AppSettings.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.Website" class="control-label"></label>
                <input asp-for="AppSettings.Website" class="form-control" />
                <span asp-validation-for="AppSettings.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.Facebook" class="control-label"></label>
                <input asp-for="AppSettings.Facebook" class="form-control" />
                <span asp-validation-for="AppSettings.Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.Twitter" class="control-label"></label>
                <input asp-for="AppSettings.Twitter" class="form-control" />
                <span asp-validation-for="AppSettings.Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.LinkedIn" class="control-label"></label>
                <input asp-for="AppSettings.LinkedIn" class="form-control" />
                <span asp-validation-for="AppSettings.LinkedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.YouTube" class="control-label"></label>
                <input asp-for="AppSettings.YouTube" class="form-control" />
                <span asp-validation-for="AppSettings.YouTube" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AppSettings.RegistrationIsOpened" /> @Html.DisplayNameFor(model => model.AppSettings.RegistrationIsOpened)
                </label>
            </div>
            <div class="form-group">
                
                <label asp-for="AppSettings.LogoImagePath" class="control-label"></label>
                <input asp-for="AppSettings.LogoImagePath" class="form-control" />
                <span asp-validation-for="AppSettings.LogoImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
